@import "../widgets/Header/Header.module.scss";
@import "../widgets/Users/Users.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");


body {
    background-color: var(--background-color);
    color: var(--color);
  
    margin: 0;
    font-family: "Cinzel", serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  p,
  li {
    margin: 0;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }


  .container{
    padding: 0 40px 0 40px;
    margin: 0 auto;
  }


  .section {
    padding: 20px 40px;
    background-color: rgba(101, 181, 181, 0.459);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
    .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
  
      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: #ffffffc7;
        padding: 10px;
        border: 5px solid rgba(101, 181, 181, 0.718);
      }
    }
  }
  
  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    .pagination__item {
      border: 1px solid rgb(32, 155, 208);
      width: 20px;
      text-align: center;
    }
    .pagination__item-active {
      background-color: rgb(32, 155, 208);
      border-radius: 5px;
    }
  }
  